# Core ML
scikit-learn==1.9.0
numpy==2.4.3
scipy==1.17.1
pandas==2.2.3
joblib==1.5.3
threadpoolctl==3.6.0

# API
fastapi==0.115.6
uvicorn==0.32.1
pydantic==2.7.0

# Frontend
# Frontend
streamlit==1.39.0
streamlit-option-menu==0.4.0

# Database
sqlalchemy==2.0.23
psycopg2-binary==2.9.9

# AWS
boto3==1.42.69
botocore==1.42.69
s3transfer==0.16.0
jmespath==1.1.0

# Utils
python-dotenv==1.0.0
requests==2.31.0

# Testing
pytest==7.4.0
httpx==0.24.1